@model ISIProject.Models.DotpayUrlcDto

@{
    ViewBag.Title = "Error";
}


<div class="container">
    <div class="jumbotron">
        <h2>Wystąpił błąd podczas dokonywania płatności za zamówienie @ViewBag.orderId </h2>
        <button type="button" onclick="location.href='@Url.Action("Payment", "Home", new {orderId = ViewBag.orderId })'" class="btn btn-primary">Spróbuj ponownie</button>
    </div>
</div>

