

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="jumbotron">
        <h2>Płatność w trakcie weryfikacji</h2>
        <p>Proszę czekać i nie zamykać przeglądarki</p>
    </div>
    <script type="text/javascript">
        var timeout = function() {
            window.location.reload();
        };
        setTimeout(timeout, 3000);
    </script>
</div>




