@using ISIProject.Helpers

@model ISIProject.Models.XsltModel
@{
    ViewBag.Title = "Home Page";
}


<div data-role="content" class="container">
    @Html.RenderXml(Model.xmlFile, Model.xsltFile)
</div>